* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
}
    section {
    max-width: 1130px;
    margin: 0 auto;
}

a {
    font-weight: 400;
    font-size: 14px;
    line-height: 12px;
    color: #46856E;
    text-decoration: none;
    margin-bottom: 71px;

}

.pict {
    width: 50%;
    text-align: center;
}

.content {
    width: 50%;
    padding: 68px 15px 68px 70px; 

}

.container {
    display: flex;
    justify-content: space-around;
    gap: 30px;
  
}

h3 {
    font-size: 24px;
    font-weight: 400;
    color: 3D55F9;
    text-align: start;
}

.title {
    font-size: 48px;
    font-weight: normal;
    color:#1A1A1A;
    margin-top: 48px;
    margin-bottom: 24px;
}
.card {
    text-align: center;
}
.text {
    font-size: 18px;
    line-height: 32px;
    color:#AAAAAA;
    margin-top: 33px;
    text-align: justify;

}
@media(max-width: 765px) {
    section  { 
        flex-direction: column;
    }
    .pict,
    .content {
        width: 100%;
    }
    
}



